@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}
.herosectionbackgroundimage {
    background-color: rgba(0, 0, 0, 0.8); 
    background-image: url(./assets/Herosectionimg.jpg);
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-blend-mode:multiply;
}

.navfonts{
  font-family: 'Cabinet Grotesk', sans-serif;
}
@font-face {
  font-family: "Amoria";
   src: url("../src/fonts//amoria.otf") format("opentype");
  
 }
 
.Amoriafont{
  font-family: "Amoria", sans-serif;
  background: transparent;
  -webkit-font-smoothing: antialiased;
}
  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .animate-infinite-scroll {
    animation: infinite-scroll 25s linear infinite;
  }

  .animate-infinite-scroll:hover {
    animation-play-state: paused;
  }
.eventsbg{
  background-color: rgba(0, 0, 0, 0.8); 
  background-image: url(./assets/eventsbgimg.jpg);
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-blend-mode:multiply;
}
body {
  scroll-behavior: smooth;
  overflow-x: hidden;   /* no horizontal scroll */
  overflow-y: scroll;     /* allow vertical scroll */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;   /* ✅ hide horizontal scroll */
}

/* Chrome, Edge, Safari */
body::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for Chrome/Safari */
body::-webkit-scrollbar {
  display: none;
}


/* Hide scrollbar for Chrome, Safari, Edge */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;               /* Chrome, Safari */
}
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
